.barra {background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;}
    
    .barra a {text-decoration: none;
    color: #ffffff;
    border-radius: 5%;
    padding: 10px;
    font-size: 30px;}

    .barra2 {position: fixed; top: 100px;left: 30%;}
    .barra2 a {color: #000;text-decoration: none; }
    
    nav a {transition: all 0.5; opacity: 1;}
nav a:hover {opacity: 0.5;}

html{ scroll-behavior: smooth;}
nav ul { font-size: 5px;text-align: center;}

nav ul { list-style: none;
display: flex;
gap: 2rem;
align-items: center;
position: relative;
height: 2rem;
font-size: 30px;
box-shadow: black;}

section { min-height: 10vh;padding-top:150px;}

#Embalagem { font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#Marcas {font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#Editorial {font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#Video {font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.caixaImg {
    position: relative;
    width: relative;
    vertical-align: middle;}

.imagem { 
    display: relative;
    width: relative;
    height: relative;
    margin-top: 200px;
    margin-left: 500px;}

.sobreposicao {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    transition: 2s ease;
    background-color: rgb(5, 5, 5);
    width: 300px;
    margin-top: 200px;
    margin-left: 500px;}

.texto {
    color: rgb(250, 250, 250);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: middle;
    display: inline-block;}

.caixaImg:hover .sobreposicao{opacity: 1;}